---
---

@import "minima";

/*
    Some customization over Minima provided CSS
*/

.site-header {
    border-top: none;
}

.post-list {
    h2 {
        margin-bottom: 3px;
    }
    .post-meta {
        margin-bottom: 15px;
    }
}

.footer-col-1 {
    width: calc(70% - (30px / 2));
}

svg.rss-icon {
    fill: #f26522;
}

/*
    Our extra elements
*/

// We remove overlap effect below that size.
// We re-use breakpoint from theme.
$img-breakpoint: 800px;

.post-img {
    position: relative;
    min-width: 740px;
    width: 90%;
    max-width: 1280px;
    height: 420px;
    z-index: -100;
    margin: 0 auto;

    @media screen and (max-width: $img-breakpoint) {
        max-height: 40vh;
        width: 100%;
        min-width: auto;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 50%; // If cropped, keep centered
    }
}

.page-content {
    padding: 0;

    .wrapper {
        padding: 30px;

        &.with-img {
            margin-top: -120px;
            padding-top: 22px;
            padding-bottom: 30px;
            background: $background-color;

            @media screen and (max-width: $img-breakpoint) {
                margin-top: 0;
            }
        }
    }
}

.image-desc {
    font-style: italic;
}


/*
    Page specific elements
*/

.profile-img {
    display: block;
    float: right;
    border-radius: 5px;
    width: 150px;
    margin: 0 0 30px 30px;
}
